@font-face {
  font-family: 'Open Sans';
  src: url('C:\Users\Danie\Documents\GitHub\Webseite\Portfolio\PortfolioWebseite\PortfolioWebseite\Css\fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 800; 
  font-style: normal;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #F7F6F6;
    background-color: #09090B;
}
.introtext{
    color: #F7F6F6;
    background-color: #09090B;
    font-size: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
.introdes{
    color: #F7F6F6;
    background-color: #09090B;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px 40px;             
}

.navbar nav a {
  margin-left: 20px;              
  text-decoration: none;          
  color: white;                   
}