@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'); 
  font-weight: 300 800; 
  font-style: normal;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #F7F6F6;
    background-color: #09090B;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px 40px;   
  position: relative;
  z-index: 2;          
}

.navbar nav a {
  margin-left: 20px;              
  text-decoration: none;          
  color: white;                   
}
.navbarbild {
    width: 1750px;          
    height: auto;
    position: absolute;
    margin-top: 650px;
    right: 0px;
    transform: translateY(-50%) scaleY(-1);
    pointer-events: none;
    z-index: -1;
}
.introtext{
    color: #F7F6F6;
    background-color: #09090B;
    font-weight: 800;
    font-size: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
.introdes{
    color: #F7F6F6;
    background-color: #09090B;
    padding-left: 60px;
    padding-right: 60px;
}
.introbild{
display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    height: auto;
    border-radius: 12px;
    background-color: #6E31DE; 
    padding: 3px;
}

.introbut{
  display: block;            
    margin-left: 160px;         
    margin-right: auto; 
    margin-top: 50px;       
    padding: 15px 45px;        
    background-color: #6E31DE; 
    color: white;              
    border: none;              
    border-radius: 8px;        
    font-size: 16px;           
    cursor: pointer;
  
}
.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 60px;                  
}

.hero-text {
    flex: 1;                        
}

.hero-image img {
    max-width: 450px;              
    height: auto;
    border-radius: 12px;             
}
.Projekt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.Projekt-ueber {
    font-size: 35px;
    margin-bottom: 20px;
}


.Projekt-Bild {
    max-width: 750px; 
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.tech-ueber{
    padding-top: 25px;
    text-align: center;
    
}
.tech-container {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 20px;
    max-width: 1100px;      
    margin: 0 auto;              
    padding: 0 40px;        
}

.tech-bild1 {
    width: 300px;            
    height: auto;
    margin-bottom: 15px;
}
.tech-text1 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;          
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}

.tech-bild2 {
    padding-top: 30px;
    width: 100px;            
    height: auto;
    margin-bottom: 69px;
}
.tech-text2 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;          
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}
.tech-bild3 {
    padding-top: 15px;
    width: 120px;            
    height: auto;
    margin-bottom: 50px;
}
.tech-text3 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;          
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}
.tech-bild4 {
    padding-top: 25px;
    width: 105px;            
    height: auto;
    margin-bottom: 54px;
}
.tech-text4 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;         
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}
.tech-bild5 {
    padding-top: 10px;
    width: 110px;            
    height: auto;
    margin-bottom: 65px;
}
.tech-text5 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;          
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}

.ref-ueber{
   text-align: center;
}

.referenzefoot {
    background-color: #6E31DE; 
    padding: 40px;
}


.ref-container {
    display: flex;
    justify-content: space-between;
}

.reflinks, .refrechts {
    background-color: #4C1D95; 
    padding: 50px;
    flex: 1;                    
    margin: 20px;               
    border-radius: 64px;
}
.refcon{
    display: block;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 12px;
    background-color: #6E31DE; 
    padding: 3px;
}

.refbild{
    
    max-width: 200px;          
    height: auto;
    border-radius: 12px;
    background-color: #6E31DE; 
    padding: 3px;

}

.ref-image {
    flex: 1;                   
    display: flex;
    justify-content: center;   
}

.ref-text {
    flex: 1;                   
}

.reflinks, .refrechts {
    background-color: #4C1D95; 
    padding: 50px;
    flex: 1;                     
    margin: 20px;               
    border-radius: 64px;
    
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
}

.kontakt-text {
    flex: 1;                   
}

.kontakt-image {
    flex: 1;                   
    display: flex;
    justify-content: center;   
}
.kontaktcon {
    background-color: #18181B; 
    padding: 50px;
    flex: 1;                     
    margin: 20px;               
    border-radius: 64px;
    
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
}

.kontaktbild{
    
    max-width: 200px;          
    height: auto;
    border-radius: 12px;
    background-color: black; 
    padding: 3px;

}

.projekt-container{
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 10px;
    max-width: 1100px;      
    margin: 0 auto;              
    padding: 0 40px; 
}

.projekt-text1 {
    background-color: #18181B; 
    padding: 40px;
    flex: 0 0 31%;          
    max-width: 350px;       
    margin: 10px;               
    border-radius: 32px;
    
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    text-align: center;
}

.projekt-bild1 {
    width: 300px;            
    height: auto;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 1%;
    
}
.TitelLabyrinth{
    display: flex;
    max-width: 930px; /* Passt sich der Gesamtbreite an (800px Video + 100px Logo + Lücke) */
    width: 100%;
    margin: 50px auto 0 auto; /* Zentriert den Titel exakt über dem Video-Bereich */
    padding: 0 40px;
}

.video-container{
    display: flex;
    max-width: 930px; /* Gleiche Breite wie der Titel */
    width: 100%;
    height: auto;
    border-radius: 12px;
    justify-content: space-between;
    align-items: flex-end; 
    margin: 0 auto;
    padding: 0 40px;
    
    
}
.video-video{
    padding-top: 5%;
    width: 800px;
    height: auto;
    margin-bottom: 15px;
}
.LabyrinthGithub{
    width: 100px;
    height: auto;
    background-color: #18181B;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Gleicht den Abstand zum unteren Rand an */

}
.LabyrinthGithubBild{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0; /* Entfernt den zu großen Abstand */
}